<benefits class="container benefits__section">
<div class="benefits__box">
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 01</h2><p class="benefits__text">Training in small groups</p></div>
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 02</h2><p class="benefits__text">Rendered notes</p></div>
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 03</h2><p class="benefits__text">Each lesson has a goal and a specific result</p></div>
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 04</h2><p class="benefits__text">The real results of the teacher</p></div>
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 05</h2><p class="benefits__text">The course program meets the requirements of the MES of Ukraine</p></div>
    <div class="benefits__boxs-position"><h2 class="benefits__title">— 06</h2><p class="benefits__text">Set of groups by level of knowledge</p></div>
    </div>
</benefits>