<contacts class="container">
    <div class="contacts__section">
        <div class="contacts__box-text1">
            <p class="contacts-text1">Registration for a <span class="contacts-text-color">free</span> phone <span class="contacts-text-color">consultation</span> on the nuances of English UPE
            </p>
        </div>
        <div  class="contacts__box-text2">
            <p class="contacts-text2">
                Leave a request for participation in a <span class="contacts-text-color">free lesson</span>.
                A consultant will contact you and answer your questions
            </p>
        </div>
        <div class="contacts-tabel-size">
            <form>
                <label>
                    <input class="contacts-tabel-name" type="name" name="name" placeholder=" Name*" />
                    <input class="contacts-tabel-phone" type="phone" name="phone" placeholder=" Phone*" />
                    <button class="contacts-button" type="submit"><p class="contacts-button-text">i want a free lesson</p></button>
            </form>
        </div>
    </div>
</contacts>