<contacts class="container">
    <div>
        <p>Registration for a free phone consultation on the nuances of English UPE
        </p>
    </div>
    <div>
        <p>
            Leave a request for participation in a free lesson.
            A consultant will contact you and answer your questions
        </p>
    </div>
    <div>
        <form>
            <label>
                <input class="" type="name" name="name" placeholder=" Name*" />
                <input class="" type="phone" name="phone" placeholder=" Phone*" />
                <button class="" type="submit">i want a free lesson</button>
        </form>
    </div>
</contacts>