<contacts class="container">
    <div class="contacts__section">
        <div>
            <p class="contacts-tex1">Registration for a free phone consultation on the nuances of English UPE
            </p>
        </div>
        <div>
            <p class="contacts-text2">
                Leave a request for participation in a <span class="contacts-text-color">free</span> lesson.
                A <span class="contacts-text-color">consultant</span> will contact you and answer your questions
            </p>
        </div>
        <div>
            <form>
                <label>
                    <input class="" type="name" name="name" placeholder=" Name*" />
                    <input class="" type="phone" name="phone" placeholder=" Phone*" />
                    <button class="" type="submit">i want a free lesson</button>
            </form>
        </div>
    </div>
</contacts>