<header id="heder" class="header container">
    <div class="header__container ">
        <include src="./partials/logo.html"></include>
        <nav class="navigation">
            <ul class="nav__list">
                <li class="nav__item"><a href="#program" class="nav__link">studying program</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">about</a></li>
                <li class="nav__item"><a href="#how-we-do" class="nav__link">training option</a></li>
                <li class="nav__item"><a href="#contacts" class="nav__link">contacts</a></li>
            </ul>
        </nav>
        <div class="header__wraper">
            <a type="button" class="consultation__btn" href="tel:48111111111">
                consultation by phone
            </a>
            <div class="burger__menu">
                <svg class="burger__icon">
                    <use href="./images/sprite.svg#icon-menu"></use>
                </svg>
            </div>
        </div>
    </div>
</header>