<section class="hero">
    <div class="hero-container container">
        <div class="hero__left-side">
            <h1 class="hero-title">Complex preparation for English UPE</h1>
            <p class="hero__text--light">It won’t be easy.</p>
            <p class="hero__text--dark">But you are guaranteed to get <span class="hero__text--accent">+25 points</span>
            </p>
            <button class="btn hero-btn">i want a free lesson</button>
        </div>
        <div class="hero__right-side">
            <source srcset="./images/desktop/hero-bg.png 1x, ./images/desktop/hero-bg@2x.png 2x"
                media="(min-width: 1280px)" type="image/jpeg" />
            <source srcset="./images/tablet/hero-bg.png 1x, ./images/tablet/hero-bg@2x.png 2x"
                media="(min-width: 768px)" type="image/jpeg" />
            <source srcset="./images/mobile/hero-bg.png 1x, ./images/mobile/hero-bg@2x.png 2x"
                media="(max-width: 767px)" type="image/jpeg" />
            <img src="./images/mobile/hero-bg.png"
                alt="Spotkanie zespołu, skłądającego się z pięciu kobiet, zasiadających przy stole" />
        </div>
    </div>
</section>