<section class="problems section">
<div class="problems__container">
    <h2 class="problems__header">
        The main problems of students in English UPE, which we
        <span class="problems__span">help</span> to solve
    </h2>
        <div class="problems__wrapper">
            <ol class="problems-list">
                <li class="problems-list__item"><p>Gramma</p></li>
                <li class="problems-list__item">Inability to understand
                    spoken English</li>
                <li class="problems-list__item">Stingy vocabulary for writing an essay</li>
                <li class="problems-list__item">Preparing alone</li>
                <li class="problems-list__item">Lack of a single knowledge resource</li>
                <li class="problems-list__item">Lack of self-organization and laziness</li>
            </ol>            
        </div>
        
</div>
</section>