<section class="program section">
    <h2 class="container section-title--program">Our Program</h2>
    <ul class="program__list container">
        <ul class="program__sublist">1 Semester
            <ul class="program__item">
                <div class="program__wrapper">Grammar</div>
                <li class="program__subitem">Nouns & Articles </li>
                <li class="program__subitem"> Adjectives & Adverb </li>
            </ul>
            <ul class="program__item">
                <div class="program__wrapper"> vocabulary</div>
                <li class="program__subitem">Family & Relations </li>
                <li class="program__subitem"> People & Society </li>
            </ul>
        </ul>

        <ul class="program__sublist">2 Semester
            <ul class="program__item">
                <div class="program__wrapper">Grammar</div>
                <li class="program__subitem ">Pronouns</li>
                <li class="program__subitem "> Active Voice</li>
                <li class="program__subitem "> Passive Voice</li>
            </ul>

            <ul class="program__item">
                <div class="program__wrapper"> vocabulary</div>
                <li class="program__subitem">Home</li>
                <li class="program__subitem">School</li>
                <li class="program__subitem"> Work </li>
            </ul>
        </ul>

        <ul class="program__sublist">3 Semester
            <ul class="program__item">
                <div class="program__wrapper">Grammar</div>
                <li class="program__subitem">Modal verbs</li>
                <li class="program__subitem"> Infinitive</li>
                <li class="program__subitem"> Gerund</li>
                <li class="program__subitem"> Participle: 1, 2 </li>
            </ul>
            <ul class="program__item">
                <div class="program__wrapper"> vocabulary</div>
                <li class="program__subitem">Travel & Tourism </li>
                <li class="program__subitem">Culture & Free</li>
                <li class="program__subitem">Time Sport </li>
            </ul>
            <ul class="program__item">
                <div class="program__wrapper">Writing</div>
                <li class="program__subitem">Informal Letter </p>
            </ul>
        </ul>
        <ul class="program__sublist"> 4 Semester
            <ul class="program__item">
                <div class="program__wrapper">Grammar</div>
                <li class="program__subitem">Clauses: Conditional and Wishes</li>
                <li class="program__subitem"> Direct / Reported speech</li>
                <li class="program__subitem">Preposition</li>
                <li class="program__subitem"> Conjunction</li>
                <li class="program__subitem"> Numeral </li>
            </ul>

            <ul class="program__item">
                <div class="program__wrapper"> Vocabulary</div>
                <li class="program__subitem"> Healthy Living</li>
                <li class="program__subitem"> Nature & Environment</li>
                <li class="program__subitem"> Money</li>

            </ul>
            <ul class="program__item">
                <div class="program__wrapper">Writing</div>
                <li class="program__subitem">Formal Letter</li>
            </ul>
        </ul>
        <ul class="program__sublist">5 Semester
            <ul class="program__item"> &nbsp;
                <li class="program__subitem">Revision</li>
                <li class="program__subitem"> Tests </li>
            </ul>

        </ul>
    </ul>
    
    <picture class="program__picture">
        <source srcset="./images/desktop/program.png 1x, ./images/desktop/program@2x.png 2x"
            media="(min-width: 1280px)" type="image/jpeg" />
        <source srcset="./images/tablet/program.png 1x, ./images/tablet/program@2x.png 2x"
            media="(min-width: 768px)" type="image/jpeg" />
        <source srcset="./images/mobile/program.png 1x, ./images/mobile/program@2x.png 2x"
            media="(max-width: 767px)" type="image/jpeg" />
        <img src="./images/mobile/program.png" alt="Elena Moreva - Teacher" />
    </picture>
    
</section>