<section class="reviews section">
<div class="container">
    <h2 class="reviews__title">
        Feedback from graduates
    </h2>
    <div class="wrapper">
        <svg class="wrapper__svg" width="25">
            <use href="./images/sprite.svg#icon-Arrow-1"></use>
        </svg>
        <div class="left-side">
            <picture class="reviews__img">
                <source srcset="../src/images/mobile/team/team-main.png 1x, ../src/images/mobile/team/team-main@2x.png  2x" media="(max-width: 767px)" />
                <source srcset="../src/images/desktop/team/team-main.png 1x, ../src/images/desktop/team/team-main@2x.png 2x" media="(min-width: 768px)" />
                <img src="../src/images/tablet/team/team-main.png" alt="dziewczyna2"/>
                <a href="https://vk.com/">
                    <svg class="reviews__svg">
                        <use href="../src/images/sprite.svg#icon-vk"></use>
                    </svg>
                </a>
            </picture>
        </div>

        <div class="right-side">
                <h2 class="reviews__name">Tonya Kucherovskaya</h2>       
                <article class="reviews-article">
                    <p class="reviews-article__p">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>
                        <p class="reviews-article__text">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson
                        I realized that I was on my plate. Elena and I became friends because she was really worried about my success. 
                        She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. 
                        Now I can brag that I'm student <span id="dots">...</span><span id="more">lorem ipsum loresm stragonow despacito lorem</span>
                        <button onclick="myFunction()" id="myBtn">Read more</button></p>
                    </article>  
        </div>
        <svg class="wrapper__svgR" width="25">
            <use href="./images/sprite.svg#icon-Arrow-2"></use>
        </svg>
    </div>
        <div class="reviews-team-list__div">   
        <svg class="reviews-team-list__svg" width="25">
            <use href="./images/sprite.svg#icon-Arrow-1"></use>
        </svg>

        <ul class="reviews-team-list">
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team1.png 1x, ../src/images/mobile/team/team1@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team1.png 1x, ../src/images/tablet/team/team1@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team1.png 1x, ../src/images/desktop/team/team1@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team1.png" alt="dziewczyna1" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team2.png 1x, ../src/images/mobile/team/team2@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team2.png 1x, ../src/images/tablet/team/team2@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team2.png 1x, ../src/images/desktop/team/team2@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team2.png" alt="dziewczyna2" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team3.png 1x, ../src/images/mobile/team/team3@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team3.png 1x, ../src/images/tablet/team/team3@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team3.png 1x, ../src/images/desktop/team/team3@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team3.png" alt="dziewczyna3" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team4.png 1x, ../src/images/mobile/team/team4@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team4.png 1x, ../src/images/tablet/team/team4@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team4.png 1x, ../src/images/desktop/team/team4@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team4.png" alt="dziewczyna4" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team5.png 1x, ../src/images/mobile/team/team5@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team5.png 1x, ../src/images/tablet/team/team5@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team5.png 1x, ../src/images/desktop/team/team5@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team5.png" alt="dziewczyna5" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team6.png 1x, ../src/images/mobile/team/team6@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team6.png 1x, ../src/images/tablet/team/team6@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team6.png 1x, ../src/images/desktop/team/team6@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team6.png" alt="dziewczyna6" />
                </picture>
            </li>
            <li class="reviews-team-list__item">
                <picture class="reviews__image">
                    <source srcset="../src/images/mobile/team/team7.png 1x, ../src/images/mobile/team/team7@2x.png  2x" media="(min-width: 320px) and (max-width: 767px)" />
                    <source srcset="../src/images/tablet/team/team7.png 1x, ../src/images/tablet/team/team7@2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)" />
                    <source srcset="../src/images/desktop/team/team7.png 1x, ../src/images/desktop/team/team7@2x.png 2x" media="(min-width: 1200px)" />
                    <img src="../src/images/mobile/team/team7.png" alt="dziewczyna7" />
                </picture>
            </li>
        </ul>
        <svg class="reviews-team-list__svgR" width="25">
            <use href="./images/sprite.svg#icon-Arrow-2"></use>
        </svg>
    </div> 
</div>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
    
            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more"; 
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less"; 
                moreText.style.display = "inline";
            }
        }
        </script>        
</section>