@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1314px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
  }
}

.how-we-do__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.how-we-do-list {
  display: flex;
  align-items: center;
}

.how-we-do-list__item {
  margin: 0 5px;
}

.how-we-do-list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 10px 10px;
  height: 280px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do-list__card:focus, .how-we-do-list__card:hover {
  background-color: #ff6b09;
  color: #ffffff;
}

.how-we-do-list__card:focus .how-we-do-list__icon,
.how-we-do-list__card:focus .how-we-do-list__card-title,
.how-we-do-list__card:focus .how-we-do-list__card-title::after,
.how-we-do-list__card:focus .how-we-do-list__description, .how-we-do-list__card:hover .how-we-do-list__icon,
.how-we-do-list__card:hover .how-we-do-list__card-title,
.how-we-do-list__card:hover .how-we-do-list__card-title::after,
.how-we-do-list__card:hover .how-we-do-list__description {
  color: #ffffff;
  fill: #ffffff;
}

.how-we-do-list__icon {
  margin-bottom: 20px;
  fill: #ff6b09;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do-list__card-title {
  position: relative;
  margin-bottom: 32px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do-list__card-title::after {
  content: '—';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%);
  font-size: 20px;
  color: #ff6b09;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we-do-list__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.9px) {
  .how-we-do-list {
    flex-direction: column;
  }
  .how-we-do-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .how-we-do-container {
    padding: 0 30px;
  }
  .how-we-do {
    padding-bottom: 40px;
  }
  .how-we-do__title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.308;
  }
  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;
  }
  .how-we-do-list__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin: 10px;
  }
  .how-we-do-list__card {
    padding-top: 40px;
    height: 334px;
  }
  .how-we-do-list__card-title {
    line-height: 2;
  }
  .how-we-do-list__card-title::after {
    bottom: -36px;
  }
  .how-we-do-list__description {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 2.333;
  }
}

@media screen and (min-width: 1280px) {
  .how-we-do-container {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .how-we-do {
    padding-bottom: 30px;
  }
  .how-we-do__title {
    text-align: left;
    font-size: 46px;
    line-height: 1.304;
  }
  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .how-we-do-list__item {
    display: flex;
    flex-wrap: wrap;
    width: 32.35%;
    margin: 0;
    margin-bottom: 20px;
  }
  .how-we-do-list__card {
    padding-top: 40px;
    height: 396px;
  }
  .how-we-do-list__icon {
    margin-bottom: 30px;
  }
  .how-we-do-list__card-title {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 1.4;
  }
  .how-we-do-list__description {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 1.556;
  }
}

.contacts__section {
  background-color: #2a2424;
  width: 320px;
  height: 507px;
  margin: 0 auto;
  text-align: center;
}

.contacts__box-text1 {
  width: 280px;
  height: 73px;
  margin: 0 auto;
  padding-top: 50px;
}

.contacts-text1 {
  font-family: 'Montserrat ExtraBold';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts__box-text2 {
  width: 280px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.contacts-text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.contacts-text-color {
  color: #ff6b09;
}

.contacts-tabel-name {
  width: 100%;
  max-width: 280px;
  height: 48px;
  border: 1px solid #FFFFFF;
  background-color: #2a2424;
  margin-bottom: 20px;
}

.contacts-tabel-phone {
  width: 100%;
  max-width: 280px;
  height: 48px;
  border: 1px solid #FFFFFF;
  background-color: #2a2424;
  margin-bottom: 50px;
}

.contacts-button {
  width: 260px;
  height: 68px;
  background-color: #ff6b09;
}

.contacts-button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .contacts-text1 {
    padding-top: 50px;
  }
}

.footer__logo {
  text-align: center;
  color: #111518;
  margin-top: 55px;
}

.footer__logo-text-color {
  color: #FF6B09;
}

.footer__logo-text1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 6px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: black;
  display: contents;
}

.footer__logo-text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 5px;
  line-height: 6px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: black;
}

.footer__instagram {
  text-align: center;
  margin-top: 31px;
  margin-bottom: 50px;
}

.footer__svg-instagram-background {
  fill: transparent;
  background: radial-gradient(110.28% 110.28% at 20.5% 87.39%, #fae100 0%, #fadc04 5.44%, #fbce0e 11.67%, #fcb720 18.29%, #fe9838 25.14%, #ff7950 30.54%, #ff1c74 49.22%, #6c1cd1 100%);
  border-radius: 10px;
}

.footer__svg-phone {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__phone {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #111518;
  text-align: center;
  margin-top: 21px;
  display: block;
}

.box__all-rights {
  width: 1680px;
  height: 70px;
  background-color: #111518;
  margin: 0 auto;
}

.box__all-rights-text {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  line-height: 28px;
  color: #b9b9b9;
  padding-left: 52px;
  padding-top: 21px;
  padding-bottom: 21px;
}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .footer__logo {
    margin-top: 55px;
  }
  .footer__logo-text1 {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }
  .footer__phone {
    margin-top: 21px;
  }
  .footer__instagram {
    margin-top: 31px;
    margin-bottom: 50px;
  }
}

.box__all-rights {
  width: 100%;
  max-width: 767.9px;
  height: 70px;
  background-color: #111518;
  margin: 0 auto;
}

.box__all-rights-text {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  line-height: 28px;
  color: #b9b9b9;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 52px;
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .footer__position {
    display: inline-flex;
    align-items: baseline;
  }
  .footer__logo {
    margin: 0px 203px 40px 40px;
  }
  .footer__logo-text1 {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  .footer__logo-text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  .footer__phone {
    margin-right: 50px;
    font-family: 'Montserrat SemiBold';
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.08em;
    color: #111518;
  }
  .footer__instagram {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .box__all-rights {
    width: 100%;
    max-width: 1279.9px;
    height: 70px;
    background-color: #111518;
    margin: 0 auto;
  }
  .box__all-rights-text {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 28px;
    color: #b9b9b9;
    padding-left: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__position {
    display: inline-flex;
    align-items: baseline;
    margin-left: 183px;
  }
  .footer__logo {
    margin: 0px 290px 40px 0px;
  }
  .footer__logo-text1 {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  .footer__logo-text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  .footer__phone {
    margin-right: 40px;
    font-family: 'Montserrat SemiBold';
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.08em;
    color: #111518;
  }
  .footer__instagram {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .box__all-rights {
    width: 100%;
    max-width: 1680px;
    height: 70px;
    background-color: #111518;
    margin: 0 auto;
  }
  .box__all-rights-text {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 28px;
    color: #b9b9b9;
    padding-left: 183px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
/*# sourceMappingURL=main.css.map */