.contacts__section {
  background-color: rgb(42, 36, 36);
  width: 320px;
  height: 507px;
  margin: 0 auto;
  text-align: center;
}
.contacts__box-text1 {
  width: 280px;
  height: 73px;
  margin: 0 auto;
  padding-top: 50px;
}
.contacts-text1 {
  font-family: 'Montserrat ExtraBold';
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contacts__box-text2 {
  width: 280px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.contacts-text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #ffffff;
}
.contacts-text-color {
  color: #ff6b09;
}

.contacts-tabel-name
{
width: 100%;
max-width: 280px;
height: 48px;
border: 1px solid #FFFFFF;
background-color: rgb(42, 36, 36);
margin-bottom: 20px;
}
.contacts-tabel-phone {
width: 100%;
max-width: 280px;
height: 48px;
border: 1px solid #FFFFFF;
background-color: rgb(42, 36, 36);
margin-bottom: 50px;
}
.contacts-button {
    width: 260px;
    height: 68px;
    background-color: #ff6b09;
}
.contacts-button-text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        justify-content: center;
}


@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .contacts-text1 {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
}

@media screen and (min-width: 1280px) {
}
