.footer__logo {
  text-align: center;
  color: #111518;
  margin-top: 55px;
}
.footer__logo-text-color 
{
  color:#FF6B09;
}
.footer__logo-text1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 6px;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: black;

  display: contents;
}
.footer__logo-text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 5px;
  line-height: 6px;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: black;
}
.footer__instagram {
  text-align: center;
  margin-top: 31px;
  margin-bottom: 50px;
}
.footer__svg-instagram-background {
  fill: transparent;
  background: radial-gradient(
    110.28% 110.28% at 20.5% 87.39%,
    #fae100 0%,
    #fadc04 5.44%,
    #fbce0e 11.67%,
    #fcb720 18.29%,
    #fe9838 25.14%,
    #ff7950 30.54%,
    #ff1c74 49.22%,
    #6c1cd1 100%
  );
  border-radius: 10px;
}
.footer__svg-phone {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer__phone {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.08em;

  color: #111518;
  text-align: center;
  margin-top: 21px;
  display: block;
}

.box__all-rights {
  width: 1680px;

  height: 70px;
  background-color: #111518;
  margin: 0 auto;
}

.box__all-rights-text {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  line-height: 28px;

  color: #b9b9b9;
  padding-left: 52px;
  padding-top: 21px;
  padding-bottom: 21px;
}
@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .footer__logo {
    margin-top: 55px;
  }
 .footer__logo-text1 {
   font-family: 'Montserrat ExtraBold';
   font-style: normal;
   font-weight: 800;
   font-size: 26px;
   line-height: 32px;
  
   letter-spacing: 0.04em;
 }

  .footer__phone {
    margin-top: 21px;
  }
  .footer__instagram {
    margin-top: 31px;
    margin-bottom: 50px;
  }
}
.box__all-rights {
  width: 100%;
  max-width: 767.9px;
  height: 70px;
  background-color: #111518;
  margin: 0 auto;
}

.box__all-rights-text {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  line-height: 28px;

  color: #b9b9b9;

  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 52px;
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .footer__position {
    display: inline-flex;
    align-items: baseline;
  }
  .footer__logo {
    margin: 0px 203px 40px 40px;
  }
  .footer__logo-text1 {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 0.04em;
  }
  .footer__logo-text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */

    letter-spacing: 0.18em;
    text-transform: uppercase;
  }

  .footer__phone {
    margin-right: 50px;
    font-family: 'Montserrat SemiBold';
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #111518;
  }

  .footer__instagram {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .box__all-rights {
    width: 100%;
    max-width: 1279.9px;
    height: 70px;
    background-color: #111518;
    margin: 0 auto;
  }

  .box__all-rights-text {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 28px;

    color: #b9b9b9;
    padding-left: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1280px) {

.footer__position {
        display: inline-flex;
        align-items: baseline;
        margin-left: 183px;
    }

    .footer__logo {
        margin: 0px 290px 40px 0px;
    }

    .footer__logo-text1 {
        font-family: 'Montserrat ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */

        letter-spacing: 0.04em;
    }

    .footer__logo-text2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
        /* identical to box height */

        letter-spacing: 0.18em;
        text-transform: uppercase;
    }

    .footer__phone {
        margin-right: 40px;
        font-family: 'Montserrat SemiBold';
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */

        letter-spacing: 0.08em;

        color: #111518;
    }

    .footer__instagram {
        margin-top: 0px;
        margin-bottom: 0px;
    }


  .box__all-rights {
    width: 100%;
    max-width: 1680px;
    height: 70px;
    background-color: #111518;
    margin: 0 auto;
  }

  .box__all-rights-text {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 28px;

    color: #b9b9b9;
    padding-left: 183px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
