.how-we-do {
  &__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-colorFont;
  }
}

.how-we-do-list {
  display: flex;
  align-items: center;

  &__item {
    margin: 0 5px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
    height: 280px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: $main-color;
      color: $white-colorFont;

      .how-we-do-list__icon,
      .how-we-do-list__card-title,
      .how-we-do-list__card-title::after,
      .how-we-do-list__description {
        color: $white-colorFont;
        fill: $main-bgc;
      }
    }
  }

  &__icon {
    margin-bottom: 20px;
    fill: $main-color;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__card-title {
    position: relative;
    margin-bottom: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428;
    text-align: center;
    letter-spacing: 0.08em;
    color: $dark-colorFont;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '—';
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform: translate(-50%);
      font-size: 20px;
      color: $main-color;
      transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.08em;
    color: $grey-colorFont;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767.9px) {
  .how-we-do-list {
    flex-direction: column;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .how-we-do-container {
    padding: 0 30px;
  }

  .how-we-do {
    padding-bottom: 40px;

    &__title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1.308;
    }
  }
  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      flex-basis: calc((100% - 20px * 2) / 2);
      margin: 10px;
    }

    &__card {
      padding-top: 40px;
      height: 334px;
    }

    &__card-title {
      line-height: 2;

      &::after {
        bottom: -36px;
      }
    }

    &__description {
      padding-left: 28px;
      padding-right: 28px;
      line-height: 2.333;
    }
  }
}

@media screen and (min-width: 1280px) {
  .how-we-do-container {
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1354px;
  }

  .how-we-do {
    padding-bottom: 130px;

    &__title {
      text-align: left;
      font-size: 46px;
      line-height: 1.304;
    }
  }

  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-basis: calc((100% - 15px * 3) / 3);
      flex-wrap: wrap;
      // width: 32.35%;
      margin: 0;
      margin-bottom: 20px;
    }

    &__card {
      padding-top: 40px;
      height: 396px;
    }

    &__icon {
      margin-bottom: 30px;
    }

    &__card-title {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 20px;
      line-height: 1.4;
    }

    &__description {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      line-height: 1.556;
    }
  }
}
