.problems {
    position: relative;
    background-image: linear-gradient(to bottom, $dark-bgc 78%, 
    $white-colorFont 22%);
    display:flex;
    justify-content: center;
    z-index: 0;

    &__container {
        margin:0 20px;
    }

    &__header {
        font-weight: 800;
        font-size: 24px;
        line-height: 1.291;
        letter-spacing: 0.03em;
        color: $white-colorFont;
        margin-bottom: 30px;
        text-align: left;
    }

    &__span {
        color: $main-color;
    }      

    &__svg {
        display: none;
        fill: $darkGrey-colorFont;
        position: absolute;
        right: -71px;
        bottom: 128px;
        z-index: 1;
        height: 70%;
    }
}

.problems-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    counter-reset: licznik;
    background-color: $white-colorFont;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding-bottom: 20px;
    z-index: 2;
    

    &__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.428;
        letter-spacing: 0.08em;
        color: $dark-bgc;
        margin-left: 30px;
        margin-right: 34px;

        &:last-child {
            margin-bottom: 20px;
        }

        &::before {
            display:block;
            counter-increment: licznik;
            content: "-" counter(licznik, decimal-leading-zero); 
            color: $main-color;
            margin-top: 10px;
        }
    }
}

.problems__container {
    @media screen and (min-width: 480px) and (max-width: 767.9px) {
        width: 480px;
      }
    
      @media screen and (min-width: 768px) and (max-width: 1279.9px) {
        width: 768px;
        margin:0 40px;
      
      }
    
      @media screen and (min-width: 1280px) {
        max-width: 1314px;
        margin:0 183px;
      }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
    .problems {

        &__header {
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.03em;
            margin-top: 10px;
            margin-right: 158px;
        }
    }

    .problems-list {
        flex-direction: row;
        max-width: 688px;
        margin:0 auto;

        &__item {
            margin-top: 20px;
            margin-left: 56px;
            flex-basis: calc(100%/2 - 96px);
        }
    }
    
}

@media screen and (min-width: 1280px) {
    .problems-list {
        max-width: 1314 px;
    }
}